<div class="page">
  <div class="page__container">
    <header class="page__container__header">
      <h1 class="page__container__header__title">Hello</h1>
      <p class="page__container__header__subtitle">We're glad to see you on our platform</p>
    </header>
    <form
      [formGroup]="signInForm"
      novalidate
      (ngSubmit)="signIn()"
      class="page__container__form"
    >
      <app-input
        type="text"
        name="email"
        placeholder="Email"
        [control]="signInForm.controls['email'] | formControl"
      />
      <app-input
        type="password"
        name="password"
        placeholder="Password"
        [control]="signInForm.controls['password'] | formControl"
      />
      <div
        *ngIf="authFailed && !signInForm.controls['password'].invalid"
        class="page__container__form__error"
      >
        <app-input-error>Wrong email or password</app-input-error>
      </div>
      <div class="page__container__form__button">
        <app-button
          [isLoading]="isLoading"
          [disabled]="signInForm.controls['email'].invalid || signInForm.controls['password'].invalid"
        >
          Sign In
        </app-button>
      </div>
    </form>
  </div>
</div>
